---
import { getCollection } from 'astro:content'
import PostLayout from '../layouts/PostLayout.astro'

export async function getStaticPaths() {
	const blogEntries = await getCollection('blog')
	return blogEntries.map((post) => ({
		params: { slug: post.slug },
		props: { post: post },
	}))
}

const { post } = Astro.props
const { lang } = Astro.params
console.log(lang);
const { Content } = await post.render()
---

<PostLayout post={post}>
	<main id="content">
		<Content />
		<a
		class="group relative inline-flex items-center overflow-hidden rounded border border-current px-8 py-3 text-indigo-600 focus:outline-none focus:ring active:text-indigo-500 my-4"
		href="/"
	  >
		<span class="absolute -start-full transition-all group-hover:start-4">
		  <svg
			class="h-5 w-5 rtl:rotate-180"
			xmlns="http://www.w3.org/2000/svg"
			fill="none"
			viewBox="0 0 24 24"
			stroke="currentColor"
		  >
			<path
			  stroke-linecap="round"
			  stroke-linejoin="round"
			  stroke-width="2"
			  d="M17 8l4 4m0 0l-4 4m4-4H3"
			/>
		  </svg>
		</span>
	  
		<span class="text-sm font-medium transition-all group-hover:ms-4">
			Go home
		</span>
	  </a>
	</main>
</PostLayout>
