---
import Layout from '../layouts/Layout.astro'
---

<script is:inline>
const lang = window.navigator.language.split('-')[0]
window.location.replace(`/${lang}`)
</script>

<Layout title="Tomy Blog">
	<p>Redirecting...</p>
</Layout>
