---
import { formatDate } from '../utils/formatDate'
export interface Props {
	title: string
	date: Date
	tags: string[]
	slug: string
}

const { title, date, tags, slug } = Astro.props


const { lang } = Astro.params

const formattedDate = formatDate(date, lang)
---

<article
	class="md:w-[49%] w-full p-1 rounded-xl bg-gradient-to-r from-green-300 via-blue-500 to-purple-600 shadow-md transition-all hover:bg-[length:200%_200%] hover:shadow-sm duration-300 shadow-gray-600/25 my-4"
>
	<div class="rounded-[10px]  p-2 bg-gray-900 sm:p-4">
		<time class="block text-xs text-gray-400">
			{formattedDate}
		</time>

		<a href={slug}>
			<h3 class="mt-0.5 text-lg font-medium  text-white">
				{title}
			</h3>
		</a>

		<div class="mt-2 flex flex-wrap gap-1">
			{
				tags.map((tag) => (
					<span class="whitespace-nowrap rounded-full  px-2.5 py-0.5 text-xs  bg-purple-600 text-purple-100">
						{tag}
					</span>
				))
			}
		</div>
	</div>
</article>
