---
import Head from '../components/Head.astro'
interface Props {
	title: string
	lang: string
}

const { title, lang } = Astro.props
---

<!DOCTYPE html>
<html lang={lang}>
	<Head
		title={title}
		description="A blog about web development, covering HTML, CSS, JavaScript, and React."
	/>
	<body class="max-w-4xl m-auto bg-bluePrimary p-4">
		<slot />
		<style>
			html {
				color-scheme: dark light;
			}
		</style>
	</body>
</html>
